<div class="container col">
    <div class="row justify-content-center">
        <div class="col-6">
            {% for nodes in root_nodes %}
                <ul class="list-group list-group-flush">
                    {% for item in nodes %}
                        {% if item == 'open' %}
                            <ul class="list-group">
                        {% else %}
                            {% if item == 'close' %}
                                </ul>
                                </li>
                            {% else %}
                                <li class="list-group-item">
                                    {% if item.menu_item.item_slug == selected %}
                                        <b>{{ item.menu_item }}</b>
                                    {% else %}
                                        <a href="{{ url }}?selected={{ item.menu_item.item_slug }}">{{ item.menu_item }}</a>
                                    {% endif %}
                                    {% if item.leaf %}
                                        </li>
                                    {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endfor %}
        </div>
    </div>
</div>